<%- include('partials/head.ejs') %>

  <!--
  <form action="/" method="post">
    <input type=text placeholder="Typ om iets toe te voegen..." />
    <input type=submit>Voeg toe</button>
  </form>-->

  <header>
    <h1>Tosti boodschappenlijst</h1>
  </header>

  <form action="/toevoegen" method="post">

    <input type="text" name="newpoint" placeholder="Voeg iets toe...">
    <input type=submit placeholder="doe het"></input>

    <h2> Wat heb je nodig? </h2>

    <ul>
      <% for( var i = 0; i < point.length; i++){ %>
        <li draggable="true"><label><input type="checkbox" name="checkbox" value="<%= point[i] %>" />
        <%= point[i] %> </label>
        </li>
        <% } %>
    </ul>

    <button formaction="/verwijder" type="submit" id="top"> Verwijder bullenpoint </button>
  </form>
  <%- include('partials/foot.ejs') %>