<%- include('partials/head.ejs') %>

  <header>
    <h1>Tosti boodschappenlijst</h1>
    <p>Heb je ook vaak zin in een tosti en vergeet je altijd compleet welke dingen en ingredienten je nodig hebt wanneer je in de supermarkt staat? Dan ben jij op de juiste plek om je boodschappen-voor-je-tosti lijstje te maken!
    </p>
  </header>

  <form action="/toevoegen" method="post">

    <h2> Wat heb je nodig? </h2>

    <div>
      <label for="add">Voeg iets toe</label>
      <input id="add" type="text" name="addPoint" placeholder="Voeg iets toe">

      <button type="submit" name="verstuur">Voeg toe</button>
    </div>

    <ul>
      <% for( var i = 0; i < point.length; i++){ %>
        <li draggable="true"><label><input type="checkbox" name="checkbox" value="<%= point[i] %>" />
        <%= point[i] %> </label>
        </li>
        <% } %>
    </ul>

    <button formaction="/verwijder" type="submit"> Verwijder bulletpoint </button>
  </form>

  <%- include('partials/foot.ejs') %>