<!DOCTYPE html>
<html lang="en">

<head>
  <link href="/manifest.json" rel="manifest">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#ffffff">
  <meta name="description" content="Tosti Boodschappenlijst">

  <title>Tosti Boodschappenlijst</title>

  <style>
    * {
      box-sizing: border-box;
      text-align: center;
    }

    body {
      margin: 0;
      font-family: 'Helvetica', sans-serif;
      /* border: 1px solid black; */
      padding: 0 3em;
    }

    header {
      text-align: center;
      /* background-color: #ffe23e; */
      padding: 1em;
    }

    h1,
    h2 {
      /* text-shadow: 2px 2px #fff; */
      /*#ffbaba*/
    }

    h1 {
      /* text-shadow: 2px 2px #000;
      color: white; */
    }

    p {
      margin: 0 auto 1em auto;
      max-width: 72ch;
    }

    div {
      width: fit-content;
      margin: 0 auto;
      /* border: 1px solid black; */
    }

    div>button {
      border-left: none;
      margin-left: -40px;
      /* border-radius: 10px 30px 15px 60px; */
      /* border-radius: 40px 30px 5px 40px; */
      display: inline-block;
    }

    div>label {
      position: absolute;
      left: -999em;
    }

    input[type=text] {
      width: 74%;
      /* border: 1px solid black; */
      height: 3em;
      border: 2px solid black;
      padding: 1em 3.5em 1em 1em;
      font-style: italic;
      box-sizing: border-box;
      text-align: left;
    }

    form {
      margin: 0 auto;
      padding: 1em 2em;
    }

    li {
      width: fit-content;
      margin: 0.5em auto;
      display: block;
      max-width: 72ch;
    }

    input {
      display: inline-block;
    }

    li>label {
      cursor: move !important;
    }

    li>label.strikethrough #click:checked {
      text-decoration: line-through !important;
    }

    /*
    input[type=checkbox]:checked>label.strikethrough {
      text-decoration: line-through !important;
    } */

    [draggable=true] {
      -khtml-user-select: none;
      user-select: none;
      /* Required to make elements draggable in old WebKit */
      -khtml-user-drag: element;
      -webkit-user-drag: element;
    }

    .column.dragElem {
      opacity: 0.5;
    }

    .column.over {
      border: 2px dashed red;
    }

    @media screen and (min-width: 30em) {
      form {
        /* border: 1px solid black */
        width: 24em;
      }
    }

    .detailpage .main,
    input[type=search],
    .letter-list a {
      border: 1px solid #323232;
    }


    button {
      display: block;
      margin: 0 auto;
      height: 3em;
      padding: 0 1.5em;
      border: 2px solid black;
      color: white;
      font-weight: bold;
      background: #0300ff;
      /* background: #ffe23e; */
      /* #ffe23e  #B30000 #e60000*/
    }

    ul {
      list-style-type: none;
      padding: 1em;
      border: 3px solid black;
      margin: 1em 0 1.5em 0;
    }

    @supports (box-shadow: 7px 6px rgba(0, 0, 0, 0.99)) {

      input[type=text],
      button {
        box-shadow: 7px 6px rgba(0, 0, 0, 0.99);
      }

      ul {
        box-shadow: 7px 6px rgba(0, 0, 0, 0.99);
      }
    }


    @supports (border-radius: 10px 30px 15px 60px) {
      div>button {
        border-radius: 10px 30px 15px 60px;
      }
    }
  </style>
</head>

<body>